html, body,.content{
  background: $body-bg;
  font-family: "Microsoft Yahei","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: $fs14;
  min-width:1024px;
  overflow: hidden;
}
div{
  box-sizing: border-box;
}
img{
  max-width: 100%;
}
.display-middle{
  display: inline-block;
  vertical-align: middle;
}
.display-height, .display-height-bottom{
  height: 100%;
  width: $width1;
  display: inline-block;
  vertical-align: middle;
}
.display-height-bottom{
  vertical-align: bottom;
}
.position-absolute {
  position: absolute;
  top:0;
  left: 0;
  right: 0;
  bottom: 0;
}
.display-none{
  display: none;
}
.arrow {
  display: block;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  &:after{
    display: block;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    content: "";
  }
}
.num-split {
  width: 6px;
  height: 12px;
  background: url("../images/num_split.png") no-repeat;
  background-size: contain;
  display: inline-block;
  vertical-align: middle;
  margin-right: $margin6;
  position: relative;
  top: $padding10;
}
.content{
  padding: 0 $padding20 $padding20 $padding20;
  #small-bg {
    z-index: 0;
  }
  .header{
    color: $color1;
    position: relative;
    height: $header-height;
    line-height: $header-height;
    background: linear-gradient(to right, rgba(107,216,234,0) 0%, rgba(107,216,234,0.8) 50%, rgba(107,216,234,0) 100%);
    .slyx-log{
      position: absolute;
      left: 0;
      top: 0;
      height: $header-half-height;
      margin-top: $margin20;
    }
    .header-title{
      text-align: center;
      color: $color1;
      font-size: $fs32;
    }
    .time-box{
      position:absolute;
      height: $header-half-height;
      top:$margin20;
      right: 0;
      line-height: normal;
      .time-square{
        width: $header-half-height;
        height: $header-half-height;
        border: solid 1px $color1;
        display: inline-block;
        vertical-align: middle;
        position: relative;
        text-align: center;
        line-height: $header-half-height;
        box-sizing: content-box;
      }
      .time-colon{
        display: inline-block;
        vertical-align: middle;
        margin:0;
        font-size: $fs28;
      }
      .time-long-square{
        min-width: $header-height;
        margin-left: $header-half-height;
        padding:0 $padding10;
        width: auto;
      }
    }
  }
  .body-content{
    top:$header-height;
    margin: 0 $margin20 $margin20 $margin20;
  }
}