$body-bg: #070f17;

$color1: #5dc3dc;
$color2: #9d9d9e;
$color3: #c9caca;
$color4: #1e2122;
$color5: #0e0d15;
$color6: #cfeaf0;
$color7: #f39700;
$color8: #00a0e8;
$color9: #009943;
$color10: #e50011;
$color11: #284651;
$color12: #ad132d;

$rgba1: rgba(23,41,135,.1);
$rgba2: rgba(113,119,217,.2);
$rgba3: rgba(113,119,217,.4);
$rgba4: rgba(8, 17, 33, 1);
$rgba5: rgba(51,61,81,0.5);
$rgba6: rgba(51,61,81,0.2);

$header-height: 60px;
$header-half-height: 30px;

$min-header-height: 40px;
$min-header-half-height: 20px;

$long: 6px;
$width : 2px;
$width1: 1px;
$width3 : 3px;
$width50: 50px;

$fs12: 12px;
$fs14: 14px;
$fs16: 16px;
$fs18: 18px;
$fs20: 20px;
$fs22: 22px;
$fs24: 24px;
$fs28: 28px;
$fs32: 32px;
$fs40: 40px;

$padding3: 3px;
$padding5: 5px;
$padding10: 10px;
$padding15: 15px;
$padding20: 20px;
$margin20: 20px;

$top30: 30px;
$top35: 35px;