<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0,maximum-scale=2.0, minimum-scale=0.5, user-scalable=no,target-densitydpi=device-dpi">
  <meta http-equiv="Pragma" content="no-cache">
  <meta http-equiv="Cache-Control" content="no-cache">
  <meta http-equiv="Expires" content="0">
  <title></title>
  <link rel="stylesheet" href="css/main.css">
  <link rel="shortcut icon" href="images/favicon.png">
  <script type="text/javascript" src="jslib/jquery.min.js"></script>
  <script type="text/javascript" src="jslib/underscore.js"></script>
  <script type="text/javascript" src="jslib/echarts.js"></script>
  <script type="text/javascript">
    GVR = {
      URL: {},
      ECHARTS: {},
      JSON: {},
      INTERVAL: {},
      SOCKET: {}
    };
  </script>
</head>
<body url="/s/version/get">
<form action="javascript:;" id="form_data" url="/s/savet/ousers"></form>
  <div class="content position-absolute" id="init-url" >
    <div class="error_init">
      <div class="display-middle error-content">
        <div class="display-middle error-icon"></div>
        <div class="display-middle error-text">连接断开，正在重连...</div>
      </div>
    </div>
    <div class="header">
      <div class="border-gradient-top"></div>
      <div class="border-gradient-bottom"></div>
      <div class="slyx-log">
        <img src="images/slxy_logo.png" alt="">
      </div>
      <div class="header-title" >
        <div class="table">
          <div class="table-cell" id="header-title"></div>
        </div>
      </div>
      <div class="time-box">
        <div class="table">
          <div class="table-cell">
            <div class="time-square">
              <div class="hour-text" id="js-hour-text">

              </div>
            </div>
            <div class="time-colon">:</div>
            <div class="time-square">
              <div class="hour-text" id="js-min-text">

              </div>
            </div>
            <div class="time-square time-long-square">
              <div class="hour-text" id="js-year-text">

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="body-content position-absolute">
      <div class="device-content">
        <div class="display-middle status-flex">
          <div class="status-flex-border table">
            <div class="table-cell">
              <div class="device-name display-middle">
                设备总数
              </div>
              <div class="device-num display-middle" id="total-device-num">
                <div class="device-num-bg display-middle">0</div>
                <div class="device-num-bg display-middle">0</div>
                <div class="device-num-bg display-middle">0</div>
                <div class="device-num-bg display-middle">0</div>
                <div class="device-num-bg display-middle" style="display: none">0</div>
              </div>
              <div class="device-unit display-middle">
                台
              </div>
            </div>
            <div class="linear-height"></div>
          </div>
        </div>
        <div class="display-middle status-flex">
          <div class="status-flex-border table">
            <div class="table-cell">
              <div class="device-name display-middle">
                可用设备
              </div>
              <div class="device-num display-middle" id="using-count">
                <div class="device-num-bg display-middle">0</div>
                <div class="device-num-bg display-middle">0</div>
                <div class="device-num-bg display-middle">0</div>
                <div class="device-num-bg display-middle">0</div>
                <div class="device-num-bg display-middle" style="display: none">0</div>
              </div>
              <div class="device-unit display-middle">
                台
              </div>
            </div>
            <div class="linear-height"></div>
          </div>
        </div>
        <div class="display-middle status-flex">
          <div class="status-flex-border table no-border">
            <div class="table-cell">
              <div class="device-name display-middle">
                月完修设备
              </div>
              <div class="device-num display-middle" id="fix-count">
                <div class="device-num-bg display-middle">0</div>
                <div class="device-num-bg display-middle">0</div>
                <div class="device-num-bg display-middle">0</div>
                <div class="device-num-bg display-middle">0</div>
                <div class="device-num-bg display-middle" style="display: none">0</div>
              </div>
              <div class="device-unit display-middle">
                单
              </div>
            </div>
            <div class="linear-height no-border"></div>
          </div>
        </div>
        <div class="display-middle status-flex device-status-flex">
          <div class="display-middle device-status-pie" id="wait-status"></div>
          <div class="display-middle device-status-pie" id="repair-status"></div>
          <div class="display-middle device-status-pie" id="overtime-status"></div>
        </div>
      </div>
      <div class="chart-content">
        <div class="left-chart-content position-absolute">
          <div class="left-half-content padding-content" id="highValue" url="/s/yybd/eqp" jsonp-callback="success_jsonpCallback1">
            <div class="chart-title display-middle">
              <i class="display-middle img-icon gaozhi-icon"></i>
              <span class="display-middle">高值设备可用统计（台）</span>
            </div>
            <div class="content-bg position-absolute" id="high-value-echarts"></div>
          </div>
          <div class="left-half-content padding-content">
            <div class="chart-title display-middle">
              <i class="display-middle img-icon shengming-icon"></i>
              <span class="display-middle">生命支持设备可用统计（台）</span>
            </div>
            <div class="content-bg position-absolute" id="life-echarts"></div>
          </div>
        </div>
        <div class="center-chart-content position-absolute">
          <div class="center-top-content" id="min-center-bottom">
            <div class="center-position position-absolute padding-content" id="inspection-none">
              <div class="chart-title display-middle">
                <i class="display-middle img-icon xunjian-icon"></i>
                <span class="display-middle">月质控统计</span>
              </div>
              <div class="content-bg position-absolute" id="inspection-echarts"></div>
            </div>
            <div class="center-position center-position-right position-absolute padding-content" id="hitch-left">
              <div class="chart-title display-middle">
                <i class="display-middle img-icon guzhang-icon"></i>
                <span class="display-inline">月完修统计</span>
              </div>
              <div class="content-bg position-absolute" id="hitch-echarts"></div>
            </div>
          </div>
          <div class="center-middle-content padding-content" id="min-center-top">
            <div class="chart-title display-middle ">
              <i class="display-middle img-icon gengxin-icon"></i>
              <span class="display-middle">信息更新</span>
            </div>
            <div class="content-bg position-absolute">
              <div class="message-title">
                <div class="display-middle message-offices  ellipsis">设备名</div>
                <div class="display-middle message-device ellipsis">科室</div>
                <div class="display-middle message-name ellipsis">报修人</div>
                <div class="display-middle message-time ellipsis">更新时间</div>
                <div class="display-middle message-name ellipsis">接修人</div>
                <div class="display-middle message-status ellipsis">状态</div>
              </div>
              <div class="message-content position-absolute" id="update-info" url="/s/yybd/fix" jsonp-callback="success_jsonpCallback2">

              </div>
            </div>
          </div>
          <div class="center-bottom-content padding-content" id="min-center-center">
            <div class="chart-title display-middle">
              <i class="display-middle img-icon chaoshi-icon"></i>
              <span class="display-middle">超时设备</span>
            </div>
            <div class="content-bg position-absolute">
              <div class="message-title">
                <div class="display-middle message-offices  ellipsis">设备名</div>
                <div class="display-middle message-device  ellipsis">科室</div>
                <div class="display-middle message-name ellipsis">报修人</div>
                <div class="display-middle message-time ellipsis">报修时间</div>
                <div class="display-middle message-name ellipsis">接修人</div>
                <div class="display-middle message-status ellipsis">状态</div>
              </div>
              <div class="message-content position-absolute" id="overdue_info">

              </div>
            </div>
          </div>
        </div>
        <div class="right-chart-content position-absolute">
          <div class="right-chart-three position-absolute one padding-content">
            <div class="chart-title display-middle">
              <i class="display-middle img-icon keshizaiyong-icon"></i>
              <span class="display-middle">科室设备可用率</span>
            </div>
            <div class="content-bg position-absolute" id="offices-use" url="/s/yybd/dpt" jsonp-callback="success_jsonpCallback3"></div>
          </div>
          <div class="right-chart-three position-absolute three padding-content">
            <div class="chart-title display-middle">
              <i class="display-middle img-icon yigong-icon"></i>
              <span class="display-middle">医工展示</span>
            </div>
            <div class="content-bg position-absolute" id="medical_info_box">

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script type="text/html" id="message_line_tpl">
    <div class="message-line">
      <div class="display-middle message-offices  ellipsis"><%- categories_name %></div
            ><div class="display-middle message-device  ellipsis"><%- departments_name %></div
            ><div class="display-middle message-name ellipsis"><%- contact_name %></div
            ><div class="display-middle message-time ellipsis"><% if(updated_at) { %>
          <%- updated_at %>
        <% } else { %>
          <%- created_at %>
        <% } %></div
            ><div class="display-middle message-name ellipsis"><%- users_name %></div
            ><div class="display-middle message-status ellipsis
      <% if(updated_at) { %>
        <%- status_color %>
      <% } %>
      "><% if(updated_at) { %>
          <%- status_name %>
        <% } else { %>
          <span class="">&gt;</span><span class="over_color"><%- over_due_time %></span>
        <% } %>
      </div>
    </div>
  </script>
  <script type="text/html" id="medical_tpl">
    <div class="medical-info-line">
      <div class="table">
        <div class="table-cell">
          <div class="first-medical-line">
            <div>
              <div class="medical_name display-middle triangle-border">
                <div class="arrow-triangle"></div>
                <%- users_name %>
              </div>
            </div>
            <div class="display-middle first-medical-size">
              月完修<span class="time-num"><%- month_fix_count %></span>单
            </div>
            <div class="display-middle first-medical-size useing-size">
              在修<span class="time-num"><%- using_count %></span>单
            </div>
          </div>
          <div class="two-medical-line">
            <div class="two-data-line odd">
              总维修单数<span class="time-num"><%- total_fix_count %></span>单
            </div>
            <div class="two-data-line">
              平均响应时长<span class="time-num"><%- resp_avg %></span>小时
            </div>
            <div class="two-data-line odd">
              平均维修时长<span class="time-num"><%- fix_avg %></span>小时
            </div>
          </div>
        </div>
      </div>
    </div>
  </script>
</body>
<script type="text/javascript" src="journal_js/medatc.js"></script>
<script type="text/javascript" src="journal_js/common.js"></script>
<script type="text/javascript" src="journal_js/echarts_js.js"></script>
<script type="text/javascript" src="journal_js/index.js"></script>
</html>